= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :shop_name, disabled: true, hint: 'You cannot change your shop name.'
    = f.input :name
    = f.input :description, as: :text
    .form-group
      = f.attachment_field :photo

  .form-actions
    = f.button :submit
