- if policy(Product).create?
  = link_to new_product_path do
    %button.btn.btn-default New Product

%h1 My Products

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Description
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          = link_to product do
            -if product.is_pro?
              %span.glyphicon.glyphicon-star
            = product.name
        %td= product.description
        %td
          - if policy(product).mark_as_pro?
            = link_to mark_as_pro_product_path(product), { method: :post, title: 'Mark As Pro', data: { confirm: 'Are you sure?' } } do
              %button.btn.btn-default
                %span.glyphicon.glyphicon-star
          - if policy(product).can_buy?
            = link_to buy_product_path(product), { method: :post, title: 'Buy'} do
              %button.btn.btn-default
                %span.glyphicon.glyphicon-arrow-down

%br
