= link_to new_product_path do
  %button.btn.btn-default New Product

%h1 My Products

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Description
      %th Actions

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.description
        %td
          = link_to edit_product_path(product), { title: 'Edit' } do
            %button.btn.btn-default
              %span.glyphicon.glyphicon-edit
          = link_to product, { method: :delete, title: 'Delete',data: { confirm: 'Are you sure?' } } do
            %button.btn.btn-default
              %span.glyphicon.glyphicon-remove
%br
