%p#notice= notice

- if policy(@product).show_shop_name?
  %p
    %b Shop Name:
    = @product.shop_name
%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  -if @product.photo_id
    = image_tag attachment_url(@product, :photo, :fill, 300, 300, format: "jpg")

= link_to 'Back', products_path
